{% extends 'home.html' %}

{% block extra_js %}
    $(document).ready(function(){
        $('.detalle-formset').formset({
            addText: 'Agregar',
            deleteText: 'Remover'
        });
    });
{% endblock extra_js %}

{% block content2 %}

<main class="container" role='main'>

  <h2>Ingreso de Factura</h2>

  <form method="post" enctype="multipart/form-data">

    {% csrf_token %}
    {{ formfactura.as_p }}

    <h3>Detalle</h3>

    {{ detalle_formset.management_form }}
    <div class="detalle-formset">
    {% for detalleform in detalle_formset %}
        {{ detalleform }}
    {% endfor %}
  </div> <br> <br>

    <!--
    <br><br><h4 id="subtotal">Subtotal: </h4>
    <h4 id="iva">IVA: </h4>
    <h3 id="total">Total a pagar: ${{total}} </h3> -->

    <br><button type="submit" class="btn btn-success">Guardar</button>
    <a onClick="javascript:history.go(-1);" style="margin-top: 0;" class="btn btn-primary">Cancelar</a>

  </form>

</main>

{% endblock content2 %}
