{% extends 'home.html' %}

{% block content2 %}

<main class="container" role='main'>

  <form method="post">
    {% csrf_token %}
    Ingrese el número de cédula:
    <input type="text" name="cedula">
    <button class="btn btn-primary" type="submit" style="margin-top: 0;">Buscar</button>
  </form>

  <div class="panel panel-default">
      <table id="arreglos" class="table table-striped table-hover table-responsive">
        <tr>
          <thead class="text-center">
            <th>Cédula</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th></th>
            <th></th>
          </thead>
        </tr>
        <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.cedula }}</td>
            <td>{{ cliente.numero_telefonico }}</td>
            <td>{{ cliente.direccion }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.apellido }}</td>
            <td><a href="#" onclick="confirmationDelete('{% url 'eliminarCliente' cliente.cedula %}')"><b>Eliminar</b></a></td>
            <td><a href="{% url 'editarCliente' cliente.cedula %}"><b>Actualizar</b></a></td>
          </tr>
        {% empty %}
        <h3 class='panel-title' style="margin: 0.75em;">
          <center>No hay clientes para mostrar</center>
        </h3>
        {% endfor %}
      </tbody>
    </table>
  </div>

</main>

{% endblock content2 %}

{% block extra_js %}
<script>
  function confirmationDelete(url){
    swal({
      title: "¿Seguro desea eliminar este cliente?",
      text: "¡Cuidado!",
      type: "warning",
      showCancelButton: true,
      confirmButtonClass: "btn-danger",
      confirmButtonText: "Eliminar",
      cancelButtonText: "Cancelar",
      closeOnConfirm: false,
      closeOnCancel: false
      },
      function(isConfirm) {
      if (isConfirm) {
        window.location.replace(url);
        swal("¡Borrado!", "El cliente ha sido borrado correctamente", "success");
      } else {
        swal("¡Cancelado!", "No se ha registrado ningún cambio", "error");
      }
    });
  }
</script>

{% endblock extra_js %}
