{% extends 'base.html' %}

{% block content %}

<div class="wrapper">
    <form class="form-signin" method="post">
      {% csrf_token %}
      <h2 class="form-signin-heading" style="text-align: center;">Ingreso al sistema</h2>
      <input type="text" class="form-control" name="username" placeholder="Usuario" required="" autofocus="" style="text-align: center;"/>
      <input type="password" class="form-control" name="password" placeholder="Contraseña" required="" style="text-align: center;"/>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
      {% if error %}
        <h4 style="color: purple;text-align: center;">Credenciales inválidas, intente nuevamente</h4>
      {% endif %}
    </form>
</div>

{% endblock content %}
